# Pharmaceutical Drug Spendings Analysis

## Problem Statement
This project aims to analyze pharmaceutical drug spending trends across different countries over time. 
The dataset contains information about healthcare expenditures as a percentage of GDP, per capita spending in USD, and total spending in millions for various countries. 
The goal is to identify trends, correlations, and insights to better understand global drug spending patterns.

##  Objectives
1. Analyze the trends of healthcare expenditure over time.
2. Compare healthcare spending between different countries.
3. Identify the correlation between GDP and healthcare spending.
4. Visualize top spending countries over the years.
5. Draw meaningful insights from the data to support policy recommendations.

### 1) Importing relevant libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

###  2) Data Cleaning & Preprocessing

In [ ]:
# reading the csv data
data= pd.read_csv('pharma_investment.csv')
data.head()

  LOCATION  TIME  PC_HEALTHXP  PC_GDP  USD_CAP  TOTAL_SPEND
0      AUS  1971       15.992   0.726   33.990       439.73
1      AUS  1972       15.091   0.685   34.184       450.44
2      AUS  1973       15.117   0.681   37.956       507.85
3      AUS  1974       14.771   0.754   45.338       622.17
4      AUS  1975       11.849   0.682   44.363       616.34

In [13]:

print(data.shape)
print(data.describe())
print(data.info())

(1341, 6)
              TIME  PC_HEALTHXP       PC_GDP      USD_CAP    TOTAL_SPEND
count  1341.000000  1341.000000  1341.000000  1341.000000    1341.000000
mean   2001.134228    16.632877     1.215524   338.278398   14439.322088
std      14.093659     6.613320     0.479568   226.158326   43259.358895
min    1970.000000     5.545000     0.207000     3.628000       5.810000
25%    1990.000000    11.849000     0.802000   144.592000     756.280000
50%    2004.000000    15.238000     1.187000   317.795000    2786.190000
75%    2013.000000    20.580000     1.524000   496.858000    8794.360000
max    2022.000000    40.239000     2.870000  1432.309000  475596.740000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1341 entries, 0 to 1340
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LOCATION     1341 non-null   object
 1   TIME         1341 non-null   int64
 2   PC_HEALTHXP  1341 non-null   float64
 3   PC_GDP       1341 non-null   float64
 4   USD_CAP      1341 non-null   float64
 5   TOTAL_SPEND  1341 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 63.0+ KB
None

In [10]:
# checking if there exists any null values in the dataset
print(data.isnull().sum())
print(data.isna().sum())

LOCATION       0
TIME           0
PC_HEALTHXP    0
PC_GDP         0
USD_CAP        0
TOTAL_SPEND    0
dtype: int64
LOCATION       0
TIME           0
PC_HEALTHXP    0
PC_GDP         0
USD_CAP        0
TOTAL_SPEND    0
dtype: int64

In [11]:
# checking for duplicate values in the dataset
print(data.duplicated().sum())

0